.parent_container_forms{
    box-shadow: 0 2.8px 2.2px rgba(0,0,0,.034), 0 6.7px 5.3px rgba(0,0,0,.048), 0 12.5px 10px rgba(0,0,0,.06), 0 22.3px 17.9px rgba(0,0,0,.072), 0 41.8px 33.4px rgba(0,0,0,.086), 0 100px 80px rgba(0,0,0,.12);
    width: 90%;
    background: #fff;
    margin-top: 4%;
    border-radius: 19px;
    height: 100%;
    margin: 42px;
    padding-left:3%;
    padding-right:3%;
}
.header_text_forms{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 550;
    color: #50b950;
    padding-top: 6%;
    text-transform: uppercase;
    margin-left: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.header_input_class{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 !important;
}
.addnew_forms{
    flex-basis: 20%;
}
.error_text_forms{
    color: red;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;

}
button::focus{
    border:none;
    outline:none;  
}
*:focus {
    outline: 0 !important;
}
button{
    border:none;
    outline:none;
 }
button::-moz-focus-inner {
    border:none;
    outline:none;
 }
.buttons_forms{
    display: flex;
    justify-content: flex-end;
    width: 88%;
}
.radio_buttons_class_forms{
    width: 80%;
}
.block_gaps_forms{
    margin-top: 3%;
} 
input{
    font-family: 'Poppins', sans-serif;
}
.label_forms{
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.00938em;
    text-transform: uppercase;
    font-size: 14px;
}
@media(max-width:767px){
    .addnew_forms {
        flex-basis: 54%;
    }
}